<div class="content content-area content-text content-background">
  <p class="content-text">- Symptom -</p>
  <div class="list-group">
    <% @body_regions.each.with_index(1) do |set, i| %>
    <!-- <div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';">
      <a style="cursor:pointer;">▼ クリックで展開</a>
  </div> -->
    <a href="#" class="list-group-item list-group-item-action list-group-item-primary" id="symptom-list">
      <%= set.name %>
    <% end %>
    </a>
  </div>

  <div class="check">
    <% @symptoms.where(:body_region_id => 1).find_each do |set| %>
    <tr>
      <td>
        <%= check_box_tag :symptom %>
        <%= label_tag :symptom, set.name %>
      </td>
    </br>
    </tr>
    <% end %>
  </div>


</div>


<!-- <% @body_regions.each.with_index(1) do |set, i| %>
<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <%= set.name %>
  </a>
  <% end %>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div> -->
