<% provide(:title, 'HOME') %>

<div class="content content-area content-background">
  <p class="content-text">- How to use -</p>
</div>

<div class="content content-area content-background">
  <p class="content-text">- Infomation -</p>
</div>
