<h1>MedicalApp#search</h1>
<p>Find me in app/views/medical_app/search.html.erb</p>
<div id="map"></div>

<%= javascript_include_tag 'google_map_api' %>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
</script>
