<% provide(:title, 'Search') %>
  <style>
    /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    body,
    html {
      height: 100%;
      margin:: 0;
      padding: 0;
    }
  </style>

  <div class="content content-area content-text">
    <p class="content-text">- Symptom -</p>
    <% @categories.each.with_index(1) do |set, i| %>
    <button type="button" class="btn btn-outline-primary" id="symptom-list">
      <%= set.name %><% end %>
    </button>
  </div>

<div class="content content-area">
  <p class="content-text">- List -</p>
</div>

<div id="map"></div>

<%= javascript_include_tag 'google_map_api' %>

<script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJhrrQZ2JozeUYwTF3h4BhNZQPCiHovG4&callback=initMap"></script>
