<% provide(:title, 'Search') %>
  <style>
    /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    body,
    html {
      height: 100%;
      margin:: 0;
      padding: 0;
    }
  </style>

<%= render 'medical_app/symptom' %>

<div class="content content-area content-background">
  <p class="content-text">- List -</p>
</div>

<div id="map"></div>

<%= javascript_include_tag 'google_map_api' %>

<script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJhrrQZ2JozeUYwTF3h4BhNZQPCiHovG4&callback=initMap"></script>
