@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* navbar */

.nav  {
  widows: 100%;
  font-family: 'Anton', sans-serif;
  font-size: 2em;
  border-bottom: 1px solid black;
}

.tag  {
  position: absolute;
  top: 0.75em;
  left: 0.5em;
}
