<header>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link"><%= link_to "Medical Search APP", root_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"><%= link_to "Search", search_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"><%= link_to "Admin", rails_admin_path %></a>
    </li>
  </ul>
</header>
