<header>
<ul class="nav justify-content-end content-area">
  <a class="tag">Medical Search APP</a>
  <li class="nav-item nav-link active"><%= link_to "HOME", root_path %></li>
  <li class="nav-item nav-link"><%= link_to "Search", search_path %></li>
  <li class="nav-item nav-link disabled"><%= link_to "Dashboard", rails_admin_path %></li>
</ul>
</header>
